<h2>Add a new request for access:</h2>  
<br />  
<div id="ng-app">
    <div ng-controller="MyCtl" class="col-xs-5 selectContainer form-group">
        Request title   
        <input type="text" ng-model="request.title" class="form-control"/>  
        <br />  
        Select system
        <select ng-change="getSystemRoles(request.system)" name="repeatSelect" id="repeatSelectsystem" ng-model="request.system" class="form-control">
            <option ng-repeat="system in systems" value='{{system.id}}'>{{system.title}}</option>
        </select>        
        <br />  
        Select system role
        <select name="repeatSelect" id="repeatSelectsystem2" ng-model="request.systemrole" class="form-control">
            <option ng-selected="roles[0].id === role.id" ng-repeat="role in roles" value='{{role.id}}'>{{role.title}}</option>
        </select>        
        <br />  
        <input type="submit" value="Save" ng-click="createContact($event)" class="btn btn-primary btn-lg active" />  
    </div>
</div>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script data-require="angular.js" data-semver="1.2.0-rc2" src="//code.angularjs.org/1.2.0-rc.2/angular.js"></script>
<script src="/sites/angular/SiteAssets/JavaScript/AngularForm.js"></script>
<link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" /> 
<SharePoint:ScriptLink Name="MicrosoftAjax.js" runat="server" Defer="False" Localizable="false"/>
<SharePoint:ScriptLink Name="SP.core.js" runat="server" Defer="False" Localizable="false"/>
<SharePoint:ScriptLink Name="SP.js" runat="server" Defer="True" Localizable="false"/>